*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body, .main-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin:0;
    background-color: aqua;
    position: relative;
    cursor: none;
}

.background{
    background-image: url(Sources/Images/stage2.png) ;
    position: absolute;
    height: 100%;   
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    z-index: 100;
}

.mouse{
    position: absolute;
    width: 4em;
    height: 4em;
    z-index: 150;
    transform: translate(-50%, -50%);
   
}

#dogRun{
    position: absolute;
    width: 3em;
    height: 3em;
    z-index: 150;
    bottom:5%;
    left:0%;
    z-index: 101;
    background: url('Sources/Images/duckhunt_various_sheet.png');  
    background-repeat: no-repeat;
    animation-name: dogRunAnimation 1s steps(8) infinite; 
    animation-duration: 1s;
    display: inline-block;
}


    

